<div class="container">
  <div class="card mt-3">
<%= simple_form_for [@recommendation, @datenight] do |f| %>
  <%= f.input :day_of_date, as: :date, html5: true %>
  <%= f.input :time, as: :time, :minute_step => 15, label: "Time of date" %>
  <br>
  <%= f.submit "Book date", class: "main-btn btn-block" %>
<% end %>
</div>
</div>
