<div class="container">
  <div class="card mt-3 no-border">
<%= simple_form_for [@recommendation, @datenight] do |f| %>
  <p class="font-form-title"><i class="fas fa-table"></i> DATE</p>
  <%= f.input :day_of_date, as: :date, html5: true, label: false  %>
  <p class="font-form-title"><i class="far fa-clock"></i> TIME</p>
  <%= f.input :time, as: :time, :minute_step => 15, label: false %>
  <br>
  <%= f.submit "Book date", class: "btn main-btn btn-block no-marg" %>
<% end %>
</div>
</div>
