// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Color schemes personalized
$base-grey: #484848;
$base-light-grey: #6C6C6C;
$sparks-color: #E8545E;
$link: rgba(232, 84, 94, 0.72);


.red {
  color: #E8545E;
}
