<h1>Welcome to Sparks, <%= @user.name %>! </h1>

<p>
  We are glad you choose us as a trusted partner for delivering amazing date ideas and keeping the flame alive
</p>

<p>
  Hope you will enjoy our application
</p>

<p>
  Sparks Team
</p>
