<ul>
  <% @recommendations.each do |recommendation| %>
  <li><%= link_to "#{recommendation.name}", recommendation_path(recommendation) %></li>
  <% end %>
</ul>
<%= link_to "Add new recommendation", new_category_recommendation_path %>
