<!-- displaying array position 0 for css class & array position 1 for the name -->
<div class="badge">
  <% if current_user.datenights.count == 0 %>
    You have no badges yet! Book a date night!
  <% else %>
    You earned the <span class="<%=badge[0]%>"> <%= badge[1] %> </span> badge!
  <% end %>
</div>
