<div class="navbar navbar-expand-xl navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
  <h2 class="logo-text"><strong>SPARKS</strong></h2>
  <% end %>

 <div class="dropdown">
  <div id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Profile
  </div>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
    <% if current_user%>
    <a class="dropdown-item" href="#">Dashboard</a>
    <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", method: :delete %>
    <% else %>
    <%= link_to "Log in", new_user_session_path, class: "dropdown-item" %>
    <% end %>
  </div>
</div>
</div>



