<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.metadata.sky.com/pd-image/79f9c43a-f43f-4ee0-bed0-77fa8e6218e5/16-9)">
  <h2>Welcome, <%= current_user.name %>!</h2>
</div>
