<!-- <div class="banner"> -->
<div class="container">
  <div class="tagline">
    <h2 class="font-title-home">Regular, amazing <br><span class="red">date nights</span> for couples made easy</h2>
  </div>
<!-- </div> -->

<!-- Value prop 1-->
  <div class="value-prop-element">
    <svg class="value-prop-icon" width="79" height="56" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><linearGradient x1="50.176%" y1="58.928%" x2="50%" y2="59.034%" id="b"><stop stop-color="#FFF" offset="0%"/><stop stop-color="#FFF" stop-opacity="0" offset="100%"/></linearGradient><linearGradient x1="64.85%" y1="42.878%" x2="-10.22%" y2="71.536%" id="c"><stop stop-color="#FFF" stop-opacity="0" offset="0%"/><stop stop-color="#FFF" offset="100%"/></linearGradient><path id="a" d="M34.371 50.047l-9.864 5.483 1.938-11.516-7.916-8.107 11.006-1.736 4.972-10.493 4.865 10.442 10.988 1.622-8 8.19 1.82 11.496z"/></defs><g fill="none" fill-rule="evenodd"><ellipse fill="#FF3F64" transform="rotate(60 2.415 30.503)" cx="2.415" cy="30.503" rx="1.674" ry="1.661"/><ellipse fill="#4629D3" transform="rotate(60 26.936 10.83)" cx="26.936" cy="10.83" rx="1.674" ry="1.661"/><ellipse fill="#4629D3" transform="rotate(60 77.186 33.046)" cx="77.186" cy="33.046" rx="1.674" ry="1.661"/><ellipse stroke="#63FFD4" stroke-width=".5" transform="rotate(60 76.846 47.545)" cx="76.846" cy="47.545" rx="1.424" ry="1.411"/><ellipse stroke="#63FFD4" stroke-width=".5" transform="rotate(60 8.36 51.06)" cx="8.361" cy="51.061" rx="1.424" ry="1.411"/><ellipse fill="#FF7264" transform="rotate(60 54.338 19.407)" cx="54.338" cy="19.407" rx="1.674" ry="1.661"/><ellipse stroke="#FF3F64" stroke-width=".5" transform="rotate(60 53.183 2.4)" cx="53.183" cy="2.401" rx="1.424" ry="1.411"/><path fill="#FFC217" d="M72.766 11.493l-.903-1.632 1.897.32 1.336-1.31.286 1.822 1.728.822-1.72.805-.267 1.818-1.35-1.323-1.893.3z"/><g transform="rotate(-94 34.445 39.604)"><use fill="#4629D3" xlink:href="#a"/><use fill-opacity=".2" fill="url(#b)" xlink:href="#a"/><use fill-opacity=".33" fill="url(#c)" xlink:href="#a"/></g></g></svg>
    <div class="value-prop-content">
      <p class ="value-prop-title">Keep the flame alive</p>
      <p class ="value-prop-subtitle">Spend more time together. 1-on-1.</p>
    </div>
  </div>
<!-- Value prop 1-->


<!-- Value prop 2-->
  <div class="value-prop-element">
    <%= image_tag 'icon2.png', class: "value-prop-icon special" %>
    <div class="value-prop-content">
      <p class ="value-prop-title">Go on amazing adventures</p>
      <p class ="value-prop-subtitle">Ditch the kids. Go do your thing.</p>
    </div>
  </div>
<!-- Value prop 2-->

<!-- Value prop 3-->
  <div class="value-prop-element">
    <svg class="value-prop-icon" width="79" height="53" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M32.094 10.548c0 2.94-7.186 5.324-16.047 5.324S0 13.488 0 10.548V5.324c0 2.94 7.186 5.324 16.047 5.324s16.047-2.384 16.047-5.324" id="a"/><path d="M32.094 10.548c0 2.94-7.186 5.324-16.047 5.324S0 13.488 0 10.548V5.324c0 2.94 7.186 5.324 16.047 5.324s16.047-2.384 16.047-5.324" id="c"/><path d="M32.094 10.548c0 2.94-7.186 5.324-16.047 5.324S0 13.488 0 10.548V5.324c0 2.94 7.186 5.324 16.047 5.324s16.047-2.384 16.047-5.324" id="e"/><path d="M31.316 6.868c-2.086 2.137-8.135 3.682-15.269 3.682C7.186 10.55 0 8.166 0 5.226V.002c0 2.94 7.186 5.324 16.047 5.324 7.134 0 13.183-1.546 15.27-3.682v5.224z" id="g"/></defs><g fill="none" fill-rule="evenodd"><g transform="rotate(-48 57.132 8.55)"><path d="M32.094 5.324c0 2.94-7.186 5.324-16.047 5.324S0 8.264 0 5.324 7.186 0 16.047 0s16.047 2.384 16.047 5.324z" fill="#FCFC51"/><path d="M26.677 5.263c0 1.816-4.728 3.288-10.557 3.288-5.83 0-10.557-1.472-10.557-3.288 0-1.817 4.727-3.29 10.557-3.29s10.557 1.473 10.557 3.29z" fill="#FFC217"/><path d="M26.562 5.798c.077-.148.115-.47.115-.624 0-1.687-4.728-3.186-10.557-3.186-5.83 0-10.557 1.5-10.557 3.186 0 .154.085.476.162.624.76-1.089 5.1-2.227 10.395-2.227s9.682 1.138 10.442 2.227z" fill-opacity=".15" fill="#111"/><mask id="b" fill="#fff"><use xlink:href="#a"/></mask><path d="M32.094 5.324v5.224c0 .17-.024.337-.07.502V5.826c.046-.165.07-.333.07-.502" fill="#949494" mask="url(#b)"/><mask id="d" fill="#fff"><use xlink:href="#c"/></mask><path d="M32.024 5.826v5.224a2.21 2.21 0 0 1-.218.507V6.333c.096-.166.17-.335.218-.507" fill="#FCCE57" mask="url(#d)"/><mask id="f" fill="#fff"><use xlink:href="#e"/></mask><path d="M31.806 6.333v5.224c-.125.216-.29.427-.49.633V6.966c.2-.205.365-.417.49-.633" fill="#FCFC51" mask="url(#f)"/><path d="M31.316 6.966v5.224c-2.086 2.137-8.135 3.682-15.269 3.682C7.186 15.872 0 13.488 0 10.548V5.324c0 2.94 7.186 5.324 16.047 5.324 7.134 0 13.183-1.545 15.27-3.682" fill="#FCCE57" mask="url(#f)"/><path d="M31.316 12.19c-2.086 2.137-8.135 3.682-15.269 3.682C7.186 15.872 0 13.488 0 10.548V5.324c0 2.94 7.186 5.324 16.047 5.324 7.134 0 13.183-1.545 15.27-3.682v5.224z" fill="#FCCE57" mask="url(#f)"/><g mask="url(#f)"><g transform="translate(0 5.262)"><mask id="h" fill="#fff"><use xlink:href="#g"/></mask><use fill="#FDB65A" xlink:href="#g"/><path fill="#FCFC51" mask="url(#h)" transform="rotate(11 16.616 7.017)" d="M11.445-.018L21.723.03l.064 14.02-10.279-.047z"/></g></g></g><ellipse fill="#FF3F64" transform="rotate(60 2.415 30.362)" cx="2.415" cy="30.362" rx="1.668" ry="1.659"/><ellipse fill="#4629D3" transform="rotate(60 26.936 10.78)" cx="26.936" cy="10.78" rx="1.668" ry="1.659"/><ellipse fill="#4629D3" transform="rotate(60 77.186 32.893)" cx="77.186" cy="32.893" rx="1.668" ry="1.659"/><ellipse stroke="#63FFD4" stroke-width=".5" transform="rotate(60 76.846 47.325)" cx="76.846" cy="47.325" rx="1.418" ry="1.409"/><ellipse fill="#FF7264" transform="rotate(60 54.338 19.317)" cx="54.338" cy="19.317" rx="1.668" ry="1.659"/><ellipse stroke="#FF3F64" stroke-width=".5" transform="rotate(60 53.183 2.39)" cx="53.183" cy="2.39" rx="1.418" ry="1.409"/><path fill="#FFC217" d="M72.766 11.44l-.903-1.625 1.897.32 1.336-1.304.286 1.812 1.728.819-1.72.801-.267 1.81-1.35-1.318-1.893.3z"/></g></svg>
    <div class="value-prop-content">
      <p class ="value-prop-title">Free of charge, hassle-free</p>
      <p class ="value-prop-subtitle">Spend 0 time organising and $0 paying.</p>
    </div>
  </div>
<!-- Value prop 3-->



  <!-- Sign up -->
  <%= link_to "Get started", new_user_registration_path, class: "btn main-btn bottom" %>
  <!-- Sign up -->

<!-- </div> -->

</div>
