<!-- <div class="banner"> -->
<div class="container">
  <div class="tagline">
    <h2 class="font-title">Regular, amazing <span class="red">date nights</span> for couples made easy</h2>
  </div>
<!-- </div> -->

<!-- Value prop 1-->
  <div class="value-prop-element">
    <i class="fas fa-heart value-prop-icon"></i>
    <div class="value-prop-content">
      <p class ="value-prop-title">Keep the flame alive</p>
      <p class ="value-prop-subtitle">Spend more time together. 1-on-1.</p>
    </div>
  </div>
<!-- Value prop 1-->


<!-- Value prop 2-->
  <div class="value-prop-element">
    <i class="fas fa-heart value-prop-icon"></i>
    <div class="value-prop-content">
      <p class ="value-prop-title">Go on amazing adventures</p>
      <p class ="value-prop-subtitle">Ditch the kids. Go do your thing.</p>
    </div>
  </div>
<!-- Value prop 2-->

<!-- Value prop 3-->
  <div class="value-prop-element">
    <i class="fas fa-heart value-prop-icon"></i>
    <div class="value-prop-content">
      <p class ="value-prop-title">Free of charge and hassle-free</p>
      <p class ="value-prop-subtitle">Spend 0 time organising and $0 paying.</p>
    </div>
  </div>
<!-- Value prop 3-->



  <!-- Sign up -->
  <%= link_to "Get started", new_user_registration_path, class: "btn main-btn" %>
  <!-- Sign up -->

<!-- </div> -->

</div>
