<div class="banner">
  <div class="container">
    <h1>Keep the flame alive!</h1>
    <p>Regular, amazing date nights for couples made easy</p>
    <%= link_to "Sign up", new_user_registration_path, class: "btn main-btn" %>
  </div>
</div>

<div class="value-proposition">
  <div class="container">
    <p>sparks helps you keep the flame alive by providing You with regular, amazing date recommendations</p>
    <p><i class="fas fa-heart"></i>Value proposition 1</p>
    <p><i class="fas fa-heart"></i>Value proposition 2</p>
    <p><i class="fas fa-heart"></i>Value proposition 3</p>
    <p><i class="fas fa-heart"></i>Value proposition 4</p>
    <%= link_to "Sign up", new_user_registration_path, class: "btn main-btn" %>
  </div>
</div>
