<div class="banner">
  <div class="container">
    <h1>Keep the flame alive!</h1>
    <p>Regular, amazing date nights for couples made easy</p>
    <%= link_to "Sign up", new_user_registration_path, class: "btn main-btn" %>
  </div>
</div>
