<div class="container">
  <div class="tagline-pref ">
    <h2 class="font-title text-center">Pick some themes for your date night</h2>
  </div>

  <!-- Creating empty array with categories -->
  <!-- <p class="font-form-title text-center"> PICK SOME THEMES FOR YOUR DATE NIGHT </p> -->

    <%= simple_form_for :search, url: recommendation_filtered_index_path, method: :get do |f| %>
    <div class="form-input-checkbox">
      <%= f.input :category_ids,
        as: :check_boxes,
        input_html: { class: 'displaynone' },
        collection: @categories
      %>
    </div>

    <br>
    <%= f.button :submit, "Find a date night!", class: "main-btn bottom" %>
  <% end %>
</div>


