<h2 class="font-title">Pick a category</h2>

<!-- Creating empty array with categories -->
<p class="font-form-title"> PICK SOME THEMES FOR YOUR DATE NIGHT </p>
<%= simple_form_for :search, url: recommendations_path, method: :get do |f| %>
  <%= f.collection_check_boxes :category_ids, @categories, :id, :name %>

  <br>
  <%= f.button :submit, "Find a date night!", class: "main-btn" %>
<% end %>
