.value-prop-element {
  display: flex;
}

.value-prop-icon {
  width: 50px;
  font-size: 30px;
}

.value-prop-title {
  font-size: 18px;
  font-weight: bold;
}

.value-prop-subtitle {
  font-size: 14px;
  font-weight: lighter;
}


.banner {
  background-size: fit;
  background-repeat: no-repeat;
  background-position: top;
  padding: 150px 0;
  height: 105px;
  overflow: hidden;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1473073957860-e6eb51b91b47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80');
}

.banner h1 {
  margin: 16px 8px 8px 8px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}

.banner p {
  margin: 0 8px 16px 8px;
  font-size: 24px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner .main-btn {
  margin: 16px 0;
  font-size: 24px;
}

.value-proposition {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding: 48px 0;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(236,126,132, 0.75);
}

.value-proposition p {
  padding: 0 16px 16px 16px;
  font-size: 24px;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.value-proposition i {
  margin-right: 8px;
}

.value-proposition .main-btn {
  margin: 16px 0;
  font-size: 24px;
}

.sparks-logo-text {
  font-size: 32px;
  color: #E8535E;
}


