.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding: 150px 0px;
  height: calc(92vh);
  overflow: hidden;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1473073957860-e6eb51b91b47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80');
}

.banner h1 {
  margin: 0;
  margin-top: 20vh;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 4rem;
  font-weight: bold;
}

.banner p {
  font-size: 2.5rem;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner .main-btn {
  font-size: 32px;
}

.cta-wrapper {
  padding-top: 20px;
}

