.main-btn {
  width: 340px;
  padding: 10px 0px;
  background-color: #E8545E;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  margin-bottom: 17px;
}

.main:hover {
  text-decoration: none;
  color: white;
}

.secondary {
  width: 340px;
  padding: 10px 0px;
  background-color: white;
  color: #E8545E;
  font-weight: bold;
  border-radius: 8px;
  border: 2px solid #E8545E;
  text-align: center;
}

.secondary:hover {
  text-decoration: none;
  color: #E8545E;
}
