.main-btn {
  width: 340px;
  padding: 10px 0px;
  background-color: #E8545E;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  text-align: center;
  margin: 0 4px 16px 4px;
  &.no-form {
    border: none;
  }
}

.button-no-form {
  width: 100%;
}

.no-marg {
  margin-left:0;
}

.main:hover {
  text-decoration: none;
  color: white;
}

.secondary {
  width: 340px;
  padding: 10px 0px;
  background-color: white;
  color: #E8545E;
  font-weight: bold;
  border-radius: 8px;
  border: 2px solid #E8545E;
  text-align: center;
  margin: 0 4px 16px 4px;
}

.secondary:hover {
  text-decoration: none;
  color: #E8545E;
}

.split {
  width: 45vw;
}

.buttons {
  border: 0;
}

.upload-photo {
  border: 1px solid #d3d3d3;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
}

.bottom {
  position: fixed;
  bottom: 0;
}

.back-link {
  i {
    font-size: 28px;
  }
}
