.card-picture {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.no-border {
  border: 0;
}

.rating {
  color: #E8545E;
}

.card-text {
  padding: 4px 16px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1.0);
}

.card-detail {
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 0;
}

.show-card {
  border: 0;
}

.card-detail p {
  margin: 4px 0;
}

.category-name {
  margin-top: 1rem;
}


.index-card {
  border-radius: 5px;
  margin: 16px 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  // border: 0;
}

.index-card i {
  margin-right: 4px;
}

.text-break {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
  color: $base-grey;
}

.datenight-card {
  padding: 16px;
}

.bottom-border {
  border-bottom: 1px solid #EAEAEA;
  margin: 0 0 24px 0;
  padding: 0;
}

// with the no shadow experiment on the profile page

.index-card-no-shadow {
  margin: 16px 0;
}

.card-text-no-shadow {
  padding: 1px 1px 4px 1px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1.0);
}

