.category-selection-bar {
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 0.5rem;
}

.category-selection-text {
  color: rgba(0,0,0,0.7);

}

.category-selection-title {
  font-size: 14px;
  margin: 0 8px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 0.05em;
}

.category-selection-button {
  color: $red;
  opacity: 0.7;
  font-weight: 300;
  font-size: 14px;
  margin: 0 8px;
  display: block;
  margin-bottom: 8px;
}

.selected-categories {
  margin-top: 16px;
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.selected-category {
  margin-left: 8px;
  margin-bottom: 8px;
}
