.font-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  color: $base-grey;
}

.font-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: $base-grey;
}

.font-form-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: $base-grey
}

.reco-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: $base-grey
}

.reco-section-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: $base-grey
}

.reco-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: $base-grey;
  &.review-text {
    margin: 5px 0 0 0 ;
  }
}


.reco-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: $link;
}

.home-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  color: $base-grey;
  margin: 20px;
  padding: 10px;
}

.review-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: $base-grey;
  margin-bottom: 2px;
}

.review-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: $base-light-grey;
  margin: 0px;
}

.profile-title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  color: $base-grey;
  padding: 10px;
  margin: 20px;
}

#new_user {
  .form-check {
    padding-left: 1.25rem;
  }
}


















