.collection_check_boxes {
  background: white;
  border-radius: 16px;
  border: 2px solid $base-grey;
  color: $base-grey;
  height: 35px;
  padding: 10px;
  text-align: center;
  flex: 0 0 30%;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: $base-grey;
  color: red;
  opacity: 1;
  }
}

.form-input {
  width: 100%;
  margin-bottom: 0px;
  .form-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}



