.navbar-lewagon {
  background: white;
  justify-content: space-between;
  }

.logo-text {
  font-size: 24px;
  margin-bottom: 0;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.sparks-brand img {
  font-family: 'Bitter', serif;
}

.navbar-title {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  font-size: 24px;
  opacity: 0.6;
  color: #E8545E;
}

.navbar .dropdown {
  display: flex;
  align-items: center;
}

.nav-dropdown {
  min-width: 5rem;
}
