.navbar-lewagon {
  background: white;
  justify-content: space-between;
  }

.logo-text {
  font-size: 24px;
  margin-bottom: 0;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}
