.bubble {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: $sparks-color;
  color: white;
  font-size: 14px;
  border: 2px solid $sparks-color;
  &.incomplete {
    background: white;
    color: $sparks-color;
    border: 2px solid $sparks-color;
  }
}



.bubble > p {
  margin: 0;
}

.bubble-line {
  width: 50px;
  border: 1px solid $sparks-color;
  margin: 11px 0 11px 0;
}

